<div class='row'>
  <div class='span5'>
    <p class='question'>What is <strong>FindTuned</strong>?</p>
  </div>
  <div class='span7'>
    <p class='answer'>
    FindTuned is a website where you can find local musicians to jam with!
    Members can build custom sharable musician profiles, containing links
    to all of your music and videos!
    </p>

    <p class='image'>
    <%= image_tag("guitar.jpg", :alt => "guitar") %>
    </p>

    <div class='row'>
      <div class='span3'>
        <p>
        I am a...
        </p>
      </div>
      <div class='span3'>
        <p> 
        <strong class='red'>
        looking for...
        </strong>
        </p>
      </div>
      <div class='span1'>
        <p> 
        near...
        </p>
      </div>
    </div>

    <form class="form-search">
      <input class="span3 " type="text" placeholder="guitarist">
      <input class="span3 search red" type="text" placeholder="vocalist">
      <input class="span1 search" type="text" placeholder="90024">
    </form>
  </div>
</div>
