@import "bootstrap";
@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
  height: 100%;
}

body {
  //padding-top: 40px;
  height: 100%;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

#logo {
  margin: 25px 0px 20px 0px;
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: black;
  text-transform: uppercase;
  letter-spacing: 2px;
  //padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}


/* Footer */
footer {
  height: 60px;
  margin-top: 20px;
  small { 
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #333;
    float: left; 
    line-height: 1.3em;
    margin: 14px 0px 8px 0px;
  }
}

.footer-inner {
  height: auto;
  min-height: 100%;
  background-color: #eaf4ed;
}

/* Header */

.head-nav {
  margin: 20px 0px 20px 0px;
  background-color: white;
  box-shadow: 2px 4px 20px #999;
  -moz-box-shadow: 2px 4px 20px #999;
  -webkit-box-shadow: 2px 4px 20px #999;
  .container {
    height: 80px;
  }
}


.nav 
{
  float: right;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  margin: 20px 0px 20px 20px;
  list-style: none;
  a { 
    color: black;
  }
  li {
    float: left;
    font-size: 1.4em;
    font-weight: none;
    letter-spacing: 1px;
    margin-left: 16px;
    padding-left: 10px;
  }
}

/* Body */

.main {
  .sea {
    color: rgb(94,192,147);
    .placeholder {
    }

  }
  strong {
    margin: 0px;
    padding: 0px;
    font-weight: bold;
  }
  p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin: 0px;
    padding: 0px;
    font-size: 1.7em;
  }
  .answer {
    margin-top: 15px;
    font-size: 1.3em;
    line-height: 1.3em;
    text-align: justify;
    letter-spacing: 1px;

  }
  .question {
    font-size: 2.9em;
  }
  .search {
    margin-left: 15px;
  }
  .form-search {
    input {
      border-radius: 1em;
      font-size: 1.2em;
    }
  }
  .image {
    text-align: center;
  }
  .submit-btn {
    text-align: center;
    margin: 14px;
  }
}

.btn-sea {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #5EC093;
  background-image: -moz-linear-gradient(top, #5EC093, #5EC093);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5EC093), to(#5EC093));
  background-image: -webkit-linear-gradient(top, #5EC093,#5EC093);
  background-image: -o-linear-gradient(top, #5EC093, #5EC093);
  background-image: linear-gradient(to bottom, #5EC093, #5EC093);
  background-repeat: repeat-x;
  border-color: #5EC093 #5EC093 #5EC093;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5EC093', endColorstr='#5EC093', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

/* forms */

// Sample form CSS.
// Input conflicts with main page input
.signin, 
.signup {
  input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    @include box_sizing;
  }

  input {
    height: auto !important;
  }
  #error_explanation {
    color: #f00;
    ul {
      list-style: none;
      margin: 0 0 18px 0;
    }
  }

  .field_with_errors {
    @extend .control-group;
    @extend .error;
  }
}
