<footer class="footer">
<div class='upper-footer'>
  <div class='container'>
    <small>
      By Musican's Match @ UCLA
    </small>
    <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><%= link_to "Blog", '#' %></li>
    </ul>
    </nav>
  </div>
</div>
<div class='lower-footer'>
  <div class='container'>
    <p>
    Copyright 2013
    </p>
  </div>
</div>
</footer>
